.fotoPerfil {
    border-radius: 50%;
}
body {
    background-color: #92b6de;
    font-family: sans-serif;
    font-size: large;
    font-weight: 500;
}
.indice {
    text-decoration: none;
}
h1 {
    color: #000;
}
#quemSou {
    font-size: 20px;
    text-align: justify;
}
p {
    text-align: justify;
}
.lista {
    font-size: 25px;
}
h2 {
    color: rgb(66, 14, 75);
}