body {
    background-color: #ccd5e8;
    font-family: sans-serif;
    padding: 10px;
}
.indice {
    text-decoration: none;
}
h1 {
    color: #000;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}
#quemSou {
    font-size: 20px;
    padding: 200px;
}
#hardSkills {
    font-size: 30px;
    padding: 10px;
}
#softSkills {
    font-size: 30px;
    padding: 10px;
}
#contatos {
    font-size: 30px;
    padding: 10px;
}
.lista {
    font-size: 25px;
}
h2 {
    color: rgb(66, 14, 75);
}
.fotoPerfil {
    border-radius: 50%;
    width: 400px;
    border: 7px solid black;
    padding: 10px;
    background-color: #9dadcf;
    float: left;
}
.fotoComNomeDescricao {
height: 900px;
}
.fotoComDescricao {
 height: 600px;
 text-align: center;
 padding: 60px;
}
.sumario {
    text-decoration: none;
    font-size: 30px;
    padding: 30px;
    background-color: #97a9ce;
}
.introducao {
    font-size: 20px;
    font-style: oblique;
    text-align: justify;
    padding: 20px;
}
.listasDeSkills .lista li:nth-of-type(odd) {
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.listaDeMidiasSociais {
    background-color: #97a9ce;
}